div.container-fluid(style="height:100%")
    div.row(style="height:100%; overflow:scroll")
        div.col-md-6(style="height:100%")
            div(style="width: 100%; height:100%; float:left; display:inline-block")
                h1 Your Spell Book
                h2 CurrentSpell: {{ vm.activeSpell.name }}
                div(style="width: 100%; height:70%")
                    div#function_editor
                        //div#editor_space(ui-ace="vm.aceOptions")
                        div#editor_space
                    div#function_selectors
                        div.function_selector(ng-click="vm.selectSpell($index)" ng-repeat="spell in vm.spells"
                                              ng-class= "{ selected : spell==vm.activeSpell, saved : spell.saved == true , unsaved : spell.saved == false}")
                                div(style="float:left; display:inline-block") {{ $index + 1 }} :
                                input.title_tag(ng-model="spell.name")
                        div.function_selector.newSlot(ng-click="vm.createNewSpell()" ng-if="vm.spells.length<6")
                            | +
                div.form-group
                    button(class="btn btn-primary" ng-click="vm.saveSpell()") Save Spell
        div.col-md-6
            div(style="height:100%; width:100%; float:left; display:inline-block")
                div(ng-include="'spells/spellbook.html'")