//
   Created by solevi on 4/19/16.
// Show the basic spells that are available for the user.
div.container-fluid(ng-controller="Spells.SpellBookController as vm")
    div.row
        h3 Magic Program Interface
        div.spell-select
            ul(class="list-group")
                li(class="list-group-item" ng-repeat="spell in vm.SpellBook"
                   ng-click="vm.selectSpell(spell)" ng-class="{active : spell == vm.selectedSpell}")
                    h4(class="list-group-item-heading") {{ spell.name }}
                    p(class="list-group-item-text") {{ spell.brief_description }}
        div
            div(ng-if="vm.selectedSpell")
                div.spell-subtitle Usage
                div.spell-text {{ "  " + vm.selectedSpell.name }} (
                    span(ng-repeat="param in vm.selectedSpell.params") {{ param.name }}, 
                    | )
                div.spell-subtitle Description
                div#spellDescription.spell-text {{ vm.selectedSpell.description }}
                div.spell-subtitle Params
                div.spell-sub-subtitle(ng-repeat="param in vm.selectedSpell.params") {{ param.name }}
                    div {{ param.description }}
