//
   Created by solevi on 4/6/16.
div(style="width: 100%; height:100%")
    div
        a( ng-click="vm.goToMatch()" class="btn btn-default") Match
        a( ng-click="vm.goToSpell()" class ="btn btn-default") Spells
        a( ng-click="vm.quitGame()"  class ="btn btn-danger") Quit Game
    div(ui-view="" style="height:100%; width:100%")