//
   Created by solevi on 4/14/16.

div.ngdialog-message(ng-if="vm.winner")
    h1 You won!
div.ngdialog-message(ng-if="vm.winner==false")
    h1 You lost.
div.ngdialog-buttons
    button(type="button" class="ngdialog-button" ng-click="vm.rematch()") Rematch
    button(type="button" class="ngdialog-button" ng-click="vm.backToLobby()") Back To Lobby
