//
   Created by solevi on 4/16/16.

div.ngdialog-message
    h1 Waiting on Opponent to finish spell creation.
div.ngdialog-buttons
    button(type="button" class="ngdialog-button btn-danger" ng-click="confirm()") Cancel
