* {
    padding: 0%;
    margin: 0%;
    overflow:hidden;
}

html, body {
    height: 100%;
    width:  100%;
}

#spellCreationScreen {
    width: 100%;
    height: 100%;
}

#SpellCreationArea {
    width: 100%;
    height: 100%;
}

#leftColumn {
    width:50%;
    height: 100%;
    float:left;
}
#rightColumn {
    float:left;
    width:50%;
}

#TextArea {
    width:100%;
    height: 50%;
}

.functionEditor {
    height: 100%;
    width : 75%;
    float:left;
}

#selectors {
    float: left;
}

#function_input {
    top:0;
    right:0;
    left: 0;
    bottom:0;
    width : 100%;
    height : 100%;
}

.functionSelectors {
    display: inline;
    margin-left: 2px;
    border-style:solid;
    border-color:black;
    border-width:1px;
    user-select: none;
    -webkit-user-select: none; /* Chrome/Safari */
    opacity : .5;
    background-color: #aaaaaa;
}

.Selected {
    opacity : 1;
}
.functionSelectors.BadSelector {
    background-color: red;
}

.functionSelectors.GoodSelector {
    background-color: green;
}

.functionSelectors:hover {
    cursor: pointer;
    opacity : 1;
}

.functionEditor textarea {
    width : 100%;
    height : 100%;
}

#spell_info_holder {
}
#spell_info {
    border-style: solid;
}

#spellCreationScreen {
    margin-left: 10px;
}

.SpellTitle {
    text-decoration:underline;
}
#SpellList li {
    height : 16px;
    transition: height 1s;
    padding: 3px;
    overflow:hidden;
}

#SpellList li.expanded {
    height : 100px;
}











